[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "*"
exotedrf = "*"
jupyter = "*"
matplotlib = "*"
ipdb = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
